<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opsigte.demo">
    <!-- 访问Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".jump.ActivityJump2Activity">
            <intent-filter>
                <!--隐式跳转必须设置android:name-->
                <action android:name="com.opsigte.demo.jump.ActivityJump2Activity"></action>
                <!--隐式跳转必须设置DEFAULT的-->
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity android:name=".jump.ActivityJumpActivity"
            android:label="1Label"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".toast.ToastActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".recyclerview.ViewHolderRecyclerActivity" />
        <activity android:name=".recyclerview.StaggeredGridRecyclerActivity" />
        <activity android:name=".recyclerview.GridLayoutRecyclerActivity" />
        <activity android:name=".recyclerview.LinearRecyclerviewActivity" />
        <activity android:name=".recyclerview.RecyclerActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".listView.ListViewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".CheckButtonActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".TextVIewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>